<div class="container">
<% if signed_in? %>
<% provide(:title, 'Home') %>
<div id="profile">
 <div class="row">
  <div class="span6">
    <%= image_tag current_user.avatar.url%>   
<h3><%= current_user.name %> <%=current_user.surname%></h3>
   </div>
  
  <div class="span2">    
      <h4><%=current_user.group.name%></h4>     
       <p>Group ID</p>
  </div>
  
  <div class="span2">   
    <h4><%=current_user.group.subjects.count%></h4>
    <p>quantity of subjects</p>
     </div>
   <div class="span2">
     <h4>NULL</h4>
     <p>Average marks</p>
   </div>
   </div>  
  </div>
    <div class="subjects">
      <div class="row">
        <div id="hey">
        <h3>My Subjects</h3>
        </div>
        <div class="span4">          
      <% current_user.group.subjects.each do |s|%>
    
           <div class="list-group">
             <%= link_to subject_assignments_path(s), class: "list-group-item",remote: true do %>
             <div class="subname">
               <%= s.name %>
             </div>       
              <%end%>
           </div>  
           <%end%>
        </div>
        <div class="span8">
         <div class="renders">        
          </div>
        
    </div>
  </div>
    
<%else%>
  
  
<div class="row">
    <div class="jumbotron">
	      <div class="span8">
      <div class="container">
        <h1>Suleyman Demirel College</h1>
        
<<<<<<< HEAD
       <img src="/assets/image.jpg" id="logo" >
=======
       <img src="/assets/image.jpg"id="logo" />
>>>>>>> 99e8b21045f8ceb154f9ad299d1ac6f76e7d0f2f
      </div>
    </div> 
 
          <div class="span4">
     <%= render 'users/form' %>
          </div>
      </div>
  </div>
<%end%>
  </div>