<div class="container">
<% if signed_in? %>
<% provide(:title, 'Home') %>
<div id="profile">
 <div class="row">
  <div class="span6">
    <%= image_tag current_user.avatar.url%>   
<h3><%= current_user.name %> <%=current_user.surname%></h3>
   </div>
  
  <div class="span2">    
      <h4><%=current_user.group.name%></h4>     
       <p>Group ID</p>
  </div>
  
  <div class="span2">   
    <h4><%=current_user.group.subjects.count%></h4>
    <p>quantity of subjects</p>
     </div>
   <div class="span2">
   <%if current_user.teacher?%>
     <h4>Teacher</h4>
     <%elsif current_user.admin?%>
     <h4>Admin</h4>
     <%else%>
     <h4>Student</h4>
     <%end%>
     <p>status</p>
   </div>
   </div>  
  </div>
    <div class="subjects">
      <div class="row">
        <div class="row">
          <div class="span6 hey">
            <h3>My Subjects</h3>
          </div> 
          <div class="span6 hey">
            <h3>Assignments</h3>
          </div>       
        </div>
      <div class="span4">  
             <%if !current_user.teacher?%>
      <% current_user.group.subjects.each do |s|%>
    
           <div class="list-group">
             <%= link_to subject_assignments_path(s), class: "list-group-item",remote: true do %>
             <div class="subname">
               <div class="cursor" style="cursor: pointer;" onclick="window.location='<%=subject_path(s)%>';">
               <%=s.name%></div> 
             </div>  
              <%end%>             
           </div>  
           <%end%>
           <%else%>

           <% Subject.where(:user_id=>current_user.id).each do |s|%>
    
           <div class="list-group">
             <%= link_to subject_assignments_path(s), class: "list-group-item",remote: true do %>
             <div class="subname">
               <div class="cursor" style="cursor: pointer;" onclick="window.location='<%=subject_path(s)%>';">
               <%=s.name%></div> 
             </div>  
              <%end%>             
           </div>  
           <%end%>

           <%end%>
        </div>       
        <div class="span8">
         <div class="renders">        
          </div>       
    </div>
  </div>
    
<%else%>
  
  
<div class="row">
    <div class="jumbotron">
	      <div class="span8">
      <div class="container">
        <h1>Suleyman Demirel College</h1>
       <img src="/assets/image.jpg"id="logo" />
      </div>
    </div> 
 
          <div class="span4">
          </div>
      </div>
  </div>
<%end%>
  </div>