<div class="container">
<% if signed_in? %>
<% provide(:title, 'Home') %>
   <div id="profile">
     <div id="gravatar">
<%= gravatar_for current_user ,class:"img-circle"%>
     </div>
<h3>
  <%= current_user.name %> <%=current_user.surname%>
</h3>
      <h4><%=current_user.group.name%></h4>
       <p>Group ID</p>
    <h4><%=current_user.group.subjects.count%></h4>
          </div>
    <div class="span8">
      <h3>My Subjects</h3>
      <% current_user.group.subjects.each do |s|%>
      <%= link_to s.name,s %>
      <%end%>
  </div>
  </div>
<%else%>
<div class="row">
    <div class="jumbotron">
	      <div class="span8">
      <div class="container">
        <h1>Suleyman Demirel College</h1>
        
       <img src="/assets/image.jpg"id="logo" />
      </div>
    </div> 
 
          <div class="span4">
     <%= render 'users/form' %>
          </div>
      </div>
  </div>
<%end%>
  </div>