<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @assignment.content %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @assignment.subject_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @assignment.user_id %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |



<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th>Assignment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.user_id %></td>
        <td><%= comment.assignment_id %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_assignment_comment_path(@assignment) %>
