<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @assignment.content %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @assignment.subject_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @assignment.user_id %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |

