
    <%= form_for(@group) do |f| %>
    
<%= render 'shared/error_messages_group' %>
    <div class="form-group">
    <%= f.text_field :name, :placeholder => "Name" %>  
    </div>
      <div class="form-group">
      <%= f.text_field :course, :placeholder => "Course" %>
    </div>
       <div class="form-group">
      <%= f.text_field :faculty, :placeholder => "Faculty" %>
     </div>
      <%= f.submit "Create Group", class: "btn" %>
    <% end %>
  