<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-4">
      <%= gravatar_for @user %>
   Name:    <%= @user.name %>
    <br/>
   Surname:     <%= @user.surname %>
     <br/>
  Email:    <%= @user.email %>
     <br/>
  Group Id:   <%= @user.group_id %>
  </div>
</div>