<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-4">
    <%=image_tag @user.avatar.url, class: "img-circle",alt:@user.name %>
   Name:    <%= @user.name %>
    <br/>
   Surname:     <%= @user.surname %>
     <br/>
  Email:    <%= @user.email %>
     <br/>
  Group Id:   <%= @user.group_id %>
  </div>
</div>