<% provide(:title, @user.name) %>
<div class="row">
  <div class="span6">
    <%=image_tag @user.avatar.url,alt:@user.name %>
  <%= @user.name %>
      <%= @user.surname %>
     <%= @user.email %>
  </div>
  <div class="span6">
  
           <%@user.marks.each do |mark|%>
                <%@subject=Subject.find(mark.subject_id)%>
           <%=@subject.name%>
           <%=mark.value%> 
            <%end%>
            <br>
          
    </div>
</div>