<%= form_for(@news) do |f| %>
<% if @news.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @news.errors.full_messages.each do |message| %>
    <li style="color:red"><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="form-group">
  <%= f.text_field :title, :placeholder => "Title"%>
  </div>
  <div class="form-group">
  <%= f.text_area :content , :placeholder => "Content..."%>
  </div>
  <div class="form-group">
  <%=f.file_field :photo,:id=>"uploadImage",:onchange=>"PreviewImage();"%>
  </div>
  <%= f.submit "Submit",class:"btn" %>
  <% end %>
  <script type="text/javascript">
function PreviewImage() {
var oFReader = new FileReader();8
oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);
oFReader.onload = function(oFREvent) {
document.getElementById("uploadPreview").src = oFREvent.target.result;
};
};
</script>