<% if current_user && (current_user.admin?||current_user.teacher?)%>
<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %><br>
    <%= f.text_field :name %>

    <%= f.label :group %><br>
     <%= f.collection_select(:group_id,Group.all,:id,:name,{:prompt => "Select Group"}, {:include_blank => true})%>
 
<% if current_user && current_user.admin?%>

  <%= f.label :user_id %><br>
  <%= f.collection_select(:user_id,User.where(:teacher =>true),:id,:name,{:prompt => "Select Teacher"}, {:include_blank => true})%>

<% end %>
<%= f.submit "Create subject", class: "btn btn-large btn-primary" %>

<% end %>
<% else %>
<div class="text-error">
  <h1>You don't have permission!</h1>
</div>
<%end%>