<div class="container">
<p id="notice"><%= notice %></p>
  <% provide(:title, @subject.name) %>
<div id="profile">
  <div class="row">
    <div class="span6">
      <%= gravatar_for @user,class:"img-circle"%>
      <h3><%= @subject.name %></h3>
      <button class="btn btn-info"><%= link_to "Marks",subject_marks_path(@subject)%></button>
    </div>
    <div class="span2">
      <h4><%=@user.name%> <%=@user.surname%></h4>
      <p>Teacher name</p>
    </div>
     <div class="span2">
       <h4><%=@subject.group.users.count%></h4>
      <p>Number of students</p>
    </div>
     <div class="span2">
       <h4><%=@assignments.count%></h4>
      <p>Homeworks</p>
    </div>
  </div>
  </div>

<div class="homeworks">
  <div class="row">
<h3>Homeworks</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Content</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.content,assignment_path(assignment) %></td>
        <td><%= assignment.created_at %></td>
        <%if current_user.id == @user.id%>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    <button class="btn btn-info">
<%= link_to 'New Assignment', new_subject_assignment_path(@subject),style:"color:#fff;text-decoration:none" %>
      </button>
</div>
  </div>
</div>