<div class="nav">
  <div class="container">
    <!-- <%= link_to image_tag("logo.jpg"), 'http://rubyonrails.org/' %>-->
    <% if signed_in? %>
    <ul class="pull-left">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "News", news_index_path %></li>
      <li><%= link_to "Staff", users_path %></li>
      <li><%= link_to "Groups", groups_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
    <ul class="pull-right">
      <li><%= link_to "Profile", current_user %></li>
      <li>
        <%= link_to " Sign out", signout_path, method: "delete" %>
      </li>
    </ul>
    <% else %>
    <ul class="pull-left">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "News", news_index_path %></li>
      <li><%= link_to "Admission", admission_path %></li>
      <li><%= link_to "Contacts", contact_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
    <ul class="pull-right">
      <li><%= link_to "Sign in", signin_path %></li>
    </ul>
    <% end %>
  </div>
</div>